body {
    background-color: #C0C0C0;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    background-color: #FFFFFF;
    box-shadow: 3px 3px #808080;
    position: relative;
    overflow: hidden;
}

.title-bar, header, footer {
    background-color: #000080;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 14px;
}

.buttons {
    display: flex;
    gap: 5px;
}

.buttons button {
    background-color: white;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    font-weight: bold;
}

.content {
    flex: 0 0 50%;
    padding: 10px;
    overflow-y: scroll;
    font-size: 14px;
    background-color: #DDDDDD;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

.simplebar-track.simplebar-horizontal,
.simplebar-scrollbar {
    height: 10px;
    border-radius: 5px;
}

.simplebar-track.simplebar-horizontal {
    background: #B5B5B5;
    max-width: 372px;
    margin: 0 auto;
}

.simplebar-scrollbar {
    background: #41485B;
    top: 0;
}

main {
    padding: 20px;
    background-color: white;
    border: 2px solid black;
    margin: auto;
}

.text, .choices {
    margin-bottom: 20px;
}

.button-container {
    text-align: center;
}

.button {
    background-color: #C0C0C0;
    border: 1px solid black;
    padding: 10px 20px;
    cursor: pointer;
}

.choices {
    border: 1px solid gray;
    padding: 10px;
    display: inline-block;
    background-color: #D4D0C8;
}

legend {
    font-size: 12px;
    padding: 0 5px;
    background-color: #D4D0C8;
}

input[type="radio"] {
    margin: 5px;
}

label {
    font-family: "MS UI Gothic", sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
    background-color: #D4D0C8;
    border: 2px solid #808080;
    padding: 5px;
    margin-bottom: 5px;
    box-shadow: inset 1px 1px white, inset -1px -1px gray;
}

label:hover {
    background-color: #E4E0DC;
}

input[type="text"] {
    width: 200px;
    height: 25px;
    padding: 2px;
    background-color: #FFFFFF;
    border: 2px solid #808080;
    box-shadow: inset 1px 1px 0 #FFFFFF, inset -1px -1px 0 #000000;
    font-family: "MS UI Gothic", sans-serif;
    font-size: 12px;
    color: black;
}

input[type="text"]:focus {
    outline: none;
    border: 2px solid #000080;
}

input[type="text"]:hover {
    border-color: #808080;
}
